
<!-- Parallax image -->
<div class="pimg1">
    <div class="ptext">
      <span class="border" routerLink="/cv">
        Stef Brands
      </span>
    </div>
</div>

<div class = "container">
   <br><br>
  Ik heb tijdens mijn loopbaan twee passies gehad: biologie en programmeren. Daarom viel mijn
  studiekeus op Bio-Informatica, tijdens mijn studie heb ik gewerkt met meerdere programmeer talen
  (Java, Python, Perl, R, Html, Css en Php). Na het afronden van deze studie is ben ik mij verder gaan
  verdiepen in de biologie. In mijn master heb ik veel gewerkt met C++ en R. Dit was voor mij de
  definitieve trigger om een carrière als software developer te starten bij young capital. Het Java
  traineeship was de opstap die ik nodig had om een carrière te starten als software developer.
  <br><br>
  Ik heb mijn hele leven al een passie gehad voor programmeren, daarom lijkt het mij geweldig om
  carrière te maken als programmeur. Ik vind het fascinerend als je kijkt naar de mogelijkheden van
  computers, het is bijna magie. Computers worden elk jaar sneller en de software evolueert mee, in
  de vorm van nieuwe talen of frameworks. De mobieltjes van tegenwoordig kunnen meer dan de
  desktops van een paar jaar geleden. Computers zijn niet meer weg te denken in de wereld van
  vandaag. Als programmeur ben je continue bezig met nieuwe spannende innovatieve oplossingen.
  Wat leuk is aan programmeren is de creativiteit die ik erin kwijt kan. Er zijn meerdere manier hoe je
  een programma kan schrijven en het vinden van de “beste” manier vind ik leuk om te doen. Een
  soort van puzzel, waarbij je zelf de puzzelstukjes bedenkt en bij elkaar brengt. Als programmeur
  creëer je nieuwe mogelijkheden (applicaties), waarbij je mensen blij kan maken met een nieuwe of
  efficiëntere manier van werken met hun computer; i.e. het maken van applicaties die nuttig zijn voor
  anderen. Software ontwikkeling heeft ook een sterk sociaal aspect, er wordt vaak gewerkt met een
  team aan een project en er is een grote internet gemeenschap (e.g. Stack overflow).
  <div class="rightbottom">
    <a routerLink="/cv"><img class="logo" src="/assets/images/about/cv.png" alt="CV" title="CV"/></a> 
    <a href="http://www.linkedin.com/in/stef-brands-62362b129" target="_blank"><img class="logo" src="/assets/images/about/linkedin.png" alt="LinkedIn" title="LinkedIn" /></a>
    <a href="http://www.github.com/levodyn" target="_blank"><img class="logo" src="/assets/images/about/github.png" alt="Github" title="Github"/></a>
  </div>
</div>