<!-- Parallax image -->
<div class="pimg1">
  <div class="ptext">
    <span @fade class="border">
      Welcome to Gameworlds
    </span>
  </div>
</div>
<!-- text section -->
<section class="section section-light">
  <h2>Welcome to my personal website</h2>
  <p>
    This is my personal website. Its purpose is so I can practice and show my technical skills. Checkout the "about" page to view my personal motivation. I called this site "Gameworlds", because I like to create somehting I enjoy (games and puzzles). The site is made with angular (frontend) and laravel (backend). 
    <br><br>
    Dit is mijn persoonlijke website om mijn technische vaardigheden te laten zien en om deze te oefenen. Bekijk de "about" pagina voor mijn beweeg redenen/motivatie. Ik heb de site "Gameworlds" genoemd, omdat ik iets wou maken dat ik leuk vind (spellen en puzzles). De is site is gemaakt met angular (frontend) en laravel (backend).
  </p>  
</section>

<!-- Parallax image -->
<div class="pimg2">
  <div class="ptext">
    <span class="border trans">
      Play Chess      
    </span>
  </div>
</div>
<!-- text section -->
<section class="section section-dark">
  <h2>Chess is no Online</h2>
  <p>
      Chess is a two-player strategy board game played on a chessboard, a checkered gameboard with 64 squares arranged in an 8×8 grid. The game is played by millions of people worldwide. Play as white and see if you can beat a grandmaster.
  </p>
</section>
<!-- Parallax image -->
<div class="pimg3">
  <div class="ptext">
    <span class="border trans">
      Play Lingo
    </span>
  </div>
</div>
<!-- text section -->
<section class="section section-dark">
  <h2>Lingo is now Online</h2>
  <p>
    Lingo was a Dutch television game show produced by AVROTROS (earlier VARA, later TROS). Lingo is a word game that combines the games Mastermind and Bingo. Two teams of two contestants each try to guess and spell words, after being given a letter in the word and the length of the word. The length of the word that has to be guessed varies from five to eight letters, and depends on the round.
    <br/><br/>
    The game show aired daily starting in 1989 on one of Holland's public television channels. On July 30, 2014, it was announced that Lingo would stop producing new episodes starting in September 2014 due to declining ratings.[1] The final episode aired on October 2, 2014.  
  </p>

</section>

<!-- Parallax image -->
<div class="pimg1">
  <div class="ptext">
    <span class="border">
      Gameworlds
    </span>
  </div>
</div>