/* You can add global styles to this file, and also import other style files */


.logo{
    max-height: 30px;
}

.rightbottom{
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
}